.flip-card {
  background-color: transparent;
  width: 400px; /* Adjust the default width as needed */
  height: 270px;
  perspective: 1000px;
  font-family: sans-serif;
  color: #ffffff;
  margin: 0 5px; /* Adjust the margin for spacing between cards */

  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    width: 300px; /* Adjust the width for smaller screens */
  }
}
.flip-card-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, rgb(224, 60, 60) 60%, rgb(219, 101, 58) 88%, rgb(199, 118, 13) 40%, rgba(248, 122, 3, 0.603) 48%);
  color: rgb(197, 85, 85);
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, rgb(128, 64, 41) 88%, bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}

.card-slider {
  padding: 0 15px; /* Adjust padding for slider */
}

.caption {
  text-align: left;
  margin-top: 10px; /* Adjust margin as needed */
  font-size: 1.5em; /* Adjust font size as needed */
  color: #ffffff; /* Adjust color as needed */
  @media screen and (max-width: 768px) {
    font-size: 1em; /* Adjust font size as needed */
  }
}

.card-slider-container {
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
}

.card-slider-container:hover .slick-slider {
  animation-play-state: paused;
}

.card-slider-container .slick-slider {
  animation: scrollAnimation infinite linear;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
